<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Notes</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>All Notes</h1>

    <% for (note of noters) { %>
        <div class="note">
            <h3>Note ID: <%= note.id %></h3>
            <h2>Title: <%= note.titled %></h2>
            <p>Content: <%= note.content %></p>
            <a href="/notes/<%= note.id %>">View Note</a>
            <a href="/notes/<%= note.id %>/edit">Edit Note</a>
            <hr>
            <form action="/note/<%= note.id %>?_method=DELETE" method="POST">
                <button type="submit">Delete Note</button>
               

             </form>
        </div>
        
    <% } %>
  
     
    <br><br>
    <a href="http://localhost:2000/note/new">Create a New Notes</a>
    
</body>

</html>
